body {
  margin-top: 80px;
}

.arrow-prev:hover,
.arrow-next:hover {
  background-color: gray; /* Change color on hover */
}

/* .longPotho {
}
.shortPhoto {
  grid-row-start: 1;
  grid-row-end: 1;
} */
